---
- name: Enable firewall
  become: true
  ufw: state=enabled policy=deny

- name: Allow HTTP
  become: true
  ufw: rule=allow port=80 proto=tcp

- name: Allow HTTPS
  become: true
  ufw: rule=allow port=443 proto=tcp

- name: Allow SSH
  become: true
  ufw: rule=allow port=22 proto=tcp
