---
- name: Add PHP repository
  become: true
  apt_repository:
    repo: ppa:ondrej/php

- name: Update and upgrade apt packages
  become: true
  apt:
    upgrade: dist
    update_cache: yes

- name: Install PHP
  become: true
  apt:
    name: "{{ item }}"
    state: present
    force: yes
    update_cache: yes
  with_items:
  - php7.1-cli
  - php7.1-common
  - php7.1-curl
  - php7.1-dev
  - php7.1-fpm
  - php7.1-gd
  - php7.1-mbstring
  - php7.1-mcrypt
  - php7.1-opcache
  - php7.1-xml
  - php7.1-xmlrpc
  - php7.1-zip
  - php-apcu
  - php-pear
  - libyaml-dev

- name: Install YAML parser
  become: true
  shell: pecl install yaml-2.0.0

- name: Set PHP cgi.fix_pathinfo to 0
  become: true
  replace:
    path: /etc/php/7.1/fpm/php.ini
    regexp: '(\s+)\;cgi\.fix_pathinfo\=1(\s+.*)?$'
    replace: '\1cgi.fix_pathinfo=0\2'

- name: Set PHP OpCache Memory Consumption to 128MB
  become: true
  replace:
    path: /etc/php/7.1/fpm/php.ini
    regexp: '(\s+)\;opcache\.memory_consumption\=128(\s+.*)?$'
    replace: '\1opcache.memory_consumption=128\2'

- name: Set PHP OpCache Interred Strings Buffer to 16MB
  become: true
  replace:
    path: /etc/php/7.1/fpm/php.ini
    regexp: '(\s+)\;opcache\.interned_strings_buffer\=8(\s+.*)?$'
    replace: '\1opcache.interned_strings_buffer=16\2'

- name: Set PHP OpCache Max Accelerated Files to 10,000
  become: true
  replace:
    path: /etc/php/7.1/fpm/php.ini
    regexp: '(\s+)\;opcache\.max_accelerated_files\=10000(\s+.*)?$'
    replace: '\1opcache.max_accelerated_files=10000\2'

- name: Set PHP OpCache Revalidate Frequency to 60s
  become: true
  replace:
    path: /etc/php/7.1/fpm/php.ini
    regexp: '(\s+)\;opcache\.revalidate_freq\=2(\s+.*)?$'
    replace: '\1opcache.revalidate_freq=60\2'

- name: Set PHP OpCache Fast Shutdown On
  become: true
  replace:
    path: /etc/php/7.1/fpm/php.ini
    regexp: '(\s+)\;opcache\.fast_shutdown\=0(\s+.*)?$'
    replace: '\1opcache.fast_shutdown=1\2'

- name: Add "extension=yaml.so" to php.ini
  become: true
  lineinfile:
    dest: /etc/php/7.1/fpm/php.ini
    regexp: "^extension=yaml.so"
    line: "extension=yaml.so"
    state: present

- name: Add "apc.shm_size=64M" to php.ini
  become: true
  lineinfile:
    dest: /etc/php/7.1/fpm/php.ini
    regexp: "^apc.shm_size=64M"
    line: "apc.shm_size=64M"
    state: present
  notify: reload php
